# =================================================
# == Next.js (frontend)
# =================================================

# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
/frontend/!.yarn/patches
/frontend/!.yarn/plugins
/frontend/!.yarn/releases
/frontend/!.yarn/versions

# Build & Output
/frontend/.next/
/frontend/out/
/frontend/build

# Testing
/frontend/coverage

# Misc
/frontend/.DS_Store
/frontend/*.pem
/frontend/.vercel

# Debug Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# TypeScript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Local Environment
/frontend/.env*

# =================================================
# == Python (ai_service)
# =================================================
ai_service/**/__pycache__/
ai_service/**/*.pyc
/ai_service/venv/
/ai_service/.venv/
/ai_service/app/uploads/

# =================================================
# == Go (Backend)
# =================================================

/backend/main
/backend/tmp
/backend/air.log
/backend/vendor/


# =================================================
# == Root Level
# =================================================

# Docker Compose Environment
.env

# OS-specific
.DS_Store